<img class='img-responsive' src="images/header.png">
<div ng-controller='HomeController' class='container about'>
	<div class='row about' id='about'>
		<div class='row'>
			<div class='row'>
				<div class='col-sm-12' style="text-align:center;">
					<h1>ABOUT</h1>
					<p>{{about.description}}</p>
				</div>
			</div>

			<div class='row' style='margin-left:50px;'>
				<div class='col-sm-8'>
					<h3>Biography</h3>
					<p>{{about.biography}}</p>
				</div>
				<div class='col-sm-4'>
					<h3>Personal Info</h3>
					<div><i class="fa fa-phone"></i> {{about.phone}}</div>
					<div><i class="fa fa-map-marker"></i> {{about.address}}</div>
					<div><i class="fa fa-envelope"></i></span> {{about.email}}</div>
					<div><i class="fa fa-internet-explorer"></i> <a href="{{about.fb}}" target="_blank"> {{about.website}}</a></div>
					<div><i class="fa fa-facebook-official"></i> <a href="{{about.fb}}" target="_blank"> {{about.fb}}</a></div>
				</div>
			</div>
		</div>
	</div>
</div>