<div ng-controller='LoginController' class='container'>
	<h2>Admin login page!</h2>
<form role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model='userEmail'>
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model='userPwd'>
  </div>
  <button class='btn btn-primary' ng-click='login()'>Login</button>
</form>
<div class="alert alert-danger" ng-show='LoginSuccess'>
  <strong>{{LoginSuccess}}</strong> Please check your login credential and try again.
</div>
	
</div>