<div ng-controller='LoginController'><br>
<div ng-show="error" class="alert alert-danger">{{error}}</div>
<form name="form" role="form">
    <div class="form-group">
        <label for="email">Email</label>
        <i class="fa fa-key"></i>
        <input type="text" name="email" id="email" class="form-control" ng-model="userEmail" required />
        <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <i class="fa fa-lock"></i>
        <input type="password" name="password" id="password" class="form-control" ng-model="userPwd" required />
        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
        <button ng-disabled="form.$invalid || dataLoading" class="btn btn-primary" ng-click='submit()'>Login</button>
        <button class='btn btn-danger' ng-click='cancel()'>Cancel</button>
    </div>
</form>
<span>{{LoginSuccess}}</span>
</div>