<img class='img-responsive' src="images/header.png">
<div ng-controller='HomeController' class='container'>
	<div class='row' style='text-align:center;' id='team'>
		<div class='row'>
			<div class='col-sm-12'>
				<h1>Our Team</h1>
				<span>Meet our team members</span>
			</div>
		</div>
		<div class='row'>
			<div class='col-sm-3 team_member'>
				<img src="images/team/manisha.jpg" class='teamPic'>
				<h3>MANISHA YADAV</h3>
				<h4>BUSINESS DEVELOPMENT MANAGER</h4>
				<p>Manisha's total tenure is more than 15 years in business development domain. Before joining zobhub, she has been associated with EXL and IBM.</p>
			</div>
			<div class='col-sm-3 team_member'>
				<img src="images/team/devendra.jpg" class='teamPic'>
				<h3>DEVENDRA SINGH</h3>
				<h4>HEAD OF IT DEPARTMENT</h4>
				<p>Devendra is a B.Tech (Computer Science & Engineering) topper from YMCA, Faridabad. He is a young dynamic professional and maestro of his belt.</p>
			</div>
			<div class='col-sm-3 team_member'>
				<img src="images/team/yogendra.jpg" class='teamPic'>
				<h3>YOGENDRA KUMAR</h3>
				<h4>HEAD OF MIS DEPARTMENT</h4>
				<p>Yogendra is younker of his realm and having good enough experience in MIS Domain. Yogendra has worked with Shopclues and Healthkart.</p>
			</div>
			<div class='col-sm-3 team_member'>
				<img src="images/team/swati.jpg" class='teamPic'>
				<h3>SWATI SINGH</h3>
				<h4>ASSISTANT MANAGER – RECRUITMENT</h4>
				<p>Swati, has got potential to work under any circumstances and gale. She has showed her spunk of requirement process for grubber in any belt.</p>
			</div>
		</div>
	</div>
</div>